<html>
	<head>
		<title>{% block head_title %} StonedZone {% endblock %}</title>
	</head>

	<body>
		<h1 style='text-align:center'>Welcome to the StonedZone</h1>
		
		{% if signed_in %}
		<div style='text-align:center'><a href="#">Hey {{user.username}}!</a> | <a href="/account/logout/">Logout</a></div>
		{% else %}
		<div style='text-align:center'><a href="/account/login/">Login</a> | <a href="/account/create/">Create an Account</a></div>
		{% endif %}
		
		<h2 style='text-align:center'><a href="/video/index/" >Videos</a></h2>
	</body>

</html>